:root {
  --color-fiery-rose: #f25a70;
  --color-arsenic: #3a4042;
  --color-dark-slate-grey: #385062;
  --color-old-silver: #828282;
  --color-black-medium: rgba(0, 0, 0, 0.6);
  --color-floral-white: #fffcee;
  --color-pomp-and-power: #7c5e99;
}
